{% set menu = menus['main-menu'] %}
{% set menu_items = menu.items %}
{% set menu_classes = 'flex items-center justify-between' %}


<header class="px-2 w-full top-0 mb-10 z-50 flex justify-between gap-8 md:gap-0 items-center container mx-auto group border-dark-200 border-b py-5 fixed bg-white md:relative ">
	<a href="/" class="relative z-20">
		{% if options.logo %}
			<img src="{{ options.logo.url }}" alt="Logo" class="h-12 w-auto">
		{% else %}
			Logo
		{% endif %}
	</a>

	<input type="checkbox" id="menu-toggle" class="hidden peer">

	<nav class="{{ menu_classes }} fixed -top-full peer-checked:top-0 h-full z-10 left-0 w-full bg-white shadow-lg md:bg-transparent md:shadow-none transition-all duration-300 ease-in-out md:h-auto md:w-auto md:flex-row md:gap-8 md:absolute md:left-1/2 md:top-1/2 md:-translate-x-1/2 md:-translate-y-1/2 ">

		<ul class="flex gap-12 flex-col md:flex-row mx-auto">

			{% for item in menu_items %}
				{% if 'js-cta' not in item.class %}
					{% if 'mobile-only' in item.class %}
						<li class="text-xl text-center md:text-md md:text-left hover:underline md:hidden">
							<a href="{{ item.url }}" class="{{ check_url_match(item.url) ? 'font-semibold' : 'font-normal opacity-65' }}">{{ item.title }}</a>
						</li>
					{% else %}
						<li class="text-xl text-center md:text-md md:text-left hover:underline">
							<a href="{{ item.url }}" class="{{ check_url_match(item.url) ? 'font-semibold' : 'font-normal opacity-65' }}">{{ item.title }}</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	{% for item in menu_items %}
		{% if 'js-cta' in item.class %}
			{% include 'components/button.twig' with { button: {
                url: {
                    title: item.title, 
                    url: item.url,
                },
                 colour:"white"
            },
                classes: 'relative z-20' 
            } %}
		{% endif %}
	{% endfor %}<!-- Open (Hamburger) Icon - shown when NOT checked --><label for="menu-toggle" class="md:hidden block peer-checked:hidden cursor-pointer relative z-20">
		<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/></svg>
	</label><!-- Close (X) Icon - shown when checked --><label for="menu-toggle" class="md:hidden hidden peer-checked:block cursor-pointer relative z-20">
		<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
	</label>
</header>
