<a href="{{ button.url.url }}" class="{{ classes }} {{ button.colour == 'black' ? ' bg-black text-white hover:bg-opacity-80' : ' hover:bg-dark-200' }} border-2 border-black font-primary font-medium py-3 px-4 transition duration-300 ease-in-out flex gap-6 items-center">
	<span class="{{button.colour == 'black' ? 'text-white' : ''}}">{{ button.url.title }}</span>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="h-6 w-6 {{ button.colour == 'black' ? ' fill-white' : '' }}"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M352 128c0-17.7-14.3-32-32-32L96 96c-17.7 0-32 14.3-32 32s14.3 32 32 32l146.7 0L41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L288 205.3 288 352c0 17.7 14.3 32 32 32s32-14.3 32-32l0-224z"/></svg>
</a>
